<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prestame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '353419201365425',
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
          });
        };
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));
      </script>
    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Prestame</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="pull-right"><button class="btn primary" data-keyboard="true" data-controls-modal="registerModal" data-backdrop="true">Sign in</button></p>
        </div>
      </div>
    </div>
    
    
    <div class="container">


<%= yield %>



</div>


<div id="registerModal" class="modal hide fade" style="display:none">
		  <div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Register</h3>
		  </div>
		  <div class="modal-body">
			<div id="errorMessage">
			</div>

			<p>You can register via Facebook or Twitter:</p>

				
				

		  </div>
		  <div class="modal-footer">
			<button data-dismiss="modal" class="btn close danger">Close</button>
		  </div>
		</div>


<footer>
<p>&copy; Onur Baykal 2012</p>
</footer>
<%= javascript_include_tag "application" %>
</body>
</html>
